/* .res-category-tiles a {
    width: 80px;
    height: 80px;
} */

.res-category-tiles {
    margin-top: 10px;
}
.category-tile {
    width: 80%;
    height: 100px;
    border: solid black;
    margin-bottom: 5px;
    background-size: cover;
}

#business {
    background-image: url("https://source.unsplash.com/aId-xYRTlEc");
}
#entertainment {
    background-image: url("https://source.unsplash.com/aId-xYRTlEc");
}
#health {
    background-image: url("https://source.unsplash.com/aId-xYRTlEc");
}
#science {
    background-image: url("https://source.unsplash.com/aId-xYRTlEc");
}
#sports {
    background-image: url("https://source.unsplash.com/aId-xYRTlEc");
}
#tech {
    background-image: url("https://source.unsplash.com/aId-xYRTlEc");
}